<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			
		</section>
		<section class="col">
			Élue meilleure application de Todo List pour l'année 2024
		</section>
		<section class="col">
			*d'après un sondage presque officiel, réalisé auprès d'1 personne
		</section>
	</div>
</footer>
